@media(max-width: 1024px){
    #left{
        padding-left: 20px;
        padding-top: 20px;
        width: 50%;
    }
    #right{
        width: 50%;
    }
  }
  
  @media(max-width: 756px){
    #left{
        width: 100%;
        padding: 20px;
    }
    #right{
        display: none;
    }

  }

  @media(max-width: 500px){
    #heading h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #3751FE;
    }
    #heading{
        margin-top: 20px;
    }
    .link-flex a{
        font-size: 11px;
    }
    .user-buttons{
        padding: 10px;
        width: 70px;
        font-size: 11px;
    }
    .social{
        font-size: 11px;
    }
  }
  
  